.NavBar{
    height: 10vh;
    width:100%;
    background: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:#7CAA98;
    
}
.link{
    font-size: 40px;
    text-decoration: none;
    font-family: 'News Cycle', sans-serif;
}
.link:hover{
    color:#FAF3DD;
    transition-delay: 0.1s;
}
.App{
    font-family: 'News Cycle', sans-serif;

}
.home{
    height: 150vh;
    width: 100%;
    background: linear-gradient(rgb(221, 214, 214, 0.6), rgb(221, 214, 214, 0.6)), url(https://images.unsplash.com/photo-1474929743204-8f756140cb14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80), no-repeat center;
    
    
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items:flex-start;
    position: absolute;
    z-index: 1;

    
}
.welcome{
    background:none;
    width: 20%;
    color:#062d58;
    font-size: 50px;
    position: relative;
    top :20vh;
    right: 90px;
   
    display: flex;
    flex-direction: column;
    
   
}
.projects-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-left: 150px;
    margin-top: 50px;
    
}


.one{
    background-color:white

}
.two{
    background-color:white;


}
.three{
    background-color: white;

}
.four{
    background-color: white;

}
.projectImg{
    background-color: lightsalmon;
    height: 75%;
    border-radius: 10px;
   
    
   
}




.project{
    height: 50vh;
    width: 70vh;
    text-align: center;
    

}
.check{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.linkToProjects{
    position: relative;
    top: 90vh;
    right: 50vh;
    font-size: 30px;
    color: #062d58;
    text-decoration: none;
}
.MyResume{
    height:90vh;
    width: 70vh;
    position: relative;
    left: 400px;
    top:50px;
    border-style: inset;

}




