*{
    margin: 0;
    padding: 0;
    font-family: fantasy;

}




.navBar{
    display: flex;
   
    background-color:rgb(225, 34, 34);
    height: 100px;
    text-align: left;
    width: 100%;
    justify-items: center;
    padding: 40px;
    

}
.main{
  height: 700px;
  display: grid;
  padding: 20px;
  
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 100px;
  justify-content: center;
  

  
}
img{
    height: 100px;
    border: solid black;
    border-radius: 10px;
    
}

.person{
    padding: 10px;
    height: 200x;
    width:200px;
    text-shadow: gray 10px

}
.text{
    background-color: rgba(128, 128, 245, 0.584);
    
    
}
